/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
a{
	text-decoration: none;
	outline: none;
	color: black;
}
i{
	cursor: pointer;
}
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 70px 0;
}
.modif{
	cursor: pointer; 
}
.modif i{ 
	margin-right: 8px;
}

section {
	margin: 50px 0;
}
h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
nav li a{
	text-decoration: none;
	outline: none;
	color: black;
}
nav li a:hover{
	color: #B1663C;
}
#introduction .modif a{
	color: #000000;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}
#introduction figure {
}
#introduction .modif{
	width: 80%;
	margin: 10px auto;
}
#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio .modif a{
	color: #000000;
}
#portfolio article{
	width: 45%;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	gap: 30px;
	margin: 1em auto;
}
#portfolio h2 {
	text-align: center;
}
.filtreBar{
	width: 45%;
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 0 auto;
}
.filtreBar button{
	font-family: 'Syne';
	font-weight: 700;
	color: #1D6154;
	margin : 2em auto ;
	text-align: center;
	border-radius: 60px ;
	border: 1px solid #1D6154;
	background-color:white;
	padding: 10px 12px;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	
}
.gallery figure{
	width: 100%;
	height: 55vh;
}
.gallery img {
	width: 100%;
	height: 100%;
}
.gallery p{
}
#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

#modale{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.8);
}
.modal-wrapper{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.modalAjoutPhoto{
	display: none;
	flex-direction: column;
	align-items: center;
}
.modal-common{
	position: relative;
	overflow: auto;
	width: 500px;
	height: 600px;
	max-width: calc(70vh - 20px);
	max-height: calc(70vh - 20px);
	top: 60px;
	z-index: 99;
	background-color: white;
	border-radius: 8px;
	padding: 14px;
	border: 2px solid blue;
}
.modal-wrapper i{
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}
.modal-common h1{
	margin-top: .6em;
	font-family: Work Sans;
	font-size: 26px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0em;
	text-align: center;
	color: #000000;
}
.modalAjoutPhoto .icons{
	position: absolute;
	top: 10px;
	width: 95%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.modalAjoutPhoto h1{
	margin-top: 30px;
	margin-bottom: 30px;
}
.modalAjoutPhoto .contenue-photo{
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	gap: 5px;
	background: #E8F1F6;
	margin-bottom: 30px;
}
.modalAjoutPhoto .contenue-photo figure{
	display: flex;
	justify-content: center;
	align-items: center;
}
.modalAjoutPhoto .contenue-photo figure img{
	width: 50%;
}
.modalAjoutPhoto .contenue-photo .newImage{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 12vh;
}
.modalAjoutPhoto .contenue-photo .newImage img{
	width: 100%;
	height: 100%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
.modalAjoutPhoto .contenue-photo button{
	font-family: Work Sans;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: center;
	border-radius: 60px ;
	background-color:#CBD6DC;
	padding: 10px 22px;
	color:  #306685;
	border: none;
}

.modalAjoutPhoto .contenue-photo p{
	font-size: 11px;
	font-weight: 500;
	line-height: 16px;
	letter-spacing: 0em;
	margin-bottom: 15px;
}
.modalAjoutPhoto form{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: start;
	width: 80%;
	gap: 30%;
}
#photoImage label{
	margin: .8em 0;
}
#photoImage input, select{
	width: 100%;
	height: 40px;	
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	margin-bottom: 10px;
}
#photoImage .horizontal-line{
	width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
}
#photoImage button{
	width: 237px;
	height: 36px;
	font-family: Work Sans;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: center;
	border-radius: 60px ;
	background-color:#A7A7A7;
	padding: 10px 22px;
	color:  white;
	margin: auto;
	border: none;
}
#galery-modal{
	width: 70%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 7px;
	grid-row-gap: 10px;
	margin: 20px 0;
}
.horizontal-line {
	width: 70%; /* Définir la largeur de la ligne sur 100% de la largeur du conteneur */
	height: 2px; /* Définir la hauteur de la ligne */
	background-color: #B3B3B3	; /* Couleur de la ligne */
  }
#galery-modal  .elementModal{
	position: relative;
	margin-bottom: 12px;
	width: 100%;
	height: 10vh;
}
#galery-modal img{
	width: 99%;
	height: 100%;
}
#galery-modal a{
	color: #000000;
}

#galery-modal .elementModal .iconImg{
	position: absolute;
	top: 2px;
	right: 2px;
	color: white;
	background-color: black;
	font-size: 11px;
	padding: 2px;
}

.ajoutSuprim{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}
.ajoutSuprim button{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	margin : 2em auto ;
	text-align: center;
	border-radius: 60px ;
	border: 1px solid #1D6154;
	background-color:#1D6154;
	padding: 10px 12px;
}
.ajoutSuprim a{
	color: #D65353;
}


.boite_modif{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	position: fixed;
	left: 0px;
	top: 0px;
	background-color: #000000;
	padding: 5px 0;
	z-index: 2;
}
.boite_modif .modif i,a{
	color: white;
}
.boite_modif button{
	font-family: 'Syne';
	font-weight: 700;
	color: black;
	text-align: center;
	border-radius: 60px ;
	background-color: white;
	padding: 8px 10px;
	cursor: pointer;
}